workflows/global-payroll-processor.json
{
  "name": "Dedukto - Global Payroll Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payroll-run",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook - Payroll Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "payroll-run"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields for all employees\nconst employees = Array.isArray($input.all()[0].json.body) ? $input.all()[0].json.body : [$input.all()[0].json.body];\nconst results = [];\n\nconst COUNTRY_RULES = {\n  ZA: {\n    required: ['grossMonthlySalary', 'country'],\n    validateTaxId: (id) => /^\\d{13}$/.test(id),\n    currency: 'ZAR'\n  },\n  GB: {\n    required: ['grossMonthlySalary', 'country'],\n    validateTaxId: (id) => /^[A-Z]{2}\\d{6}[A-Z]$/.test(id),\n    currency: 'GBP'\n  },\n  US: {\n    required: ['grossMonthlySalary', 'country'],\n    validateTaxId: (id) => /^\\d{3}-\\d{2}-\\d{4}$/.test(id),\n    currency: 'USD'\n  }\n};\n\nfor (const emp of employees) {\n  const errors = [];\n  const rules = COUNTRY_RULES[emp.country];\n  \n  if (!rules) {\n    errors.push('Unsupported country: ' + emp.country + '. Supported: ZA, GB, US');\n  } else {\n    for (const field of rules.required) {\n      if (!emp[field]) errors.push('Missing required field: ' + field);\n    }\n    if (emp.tax_id && !rules.validateTaxId(emp.tax_id)) {\n      errors.push('Invalid tax ID format for ' + emp.country);\n    }\n    if (emp.grossMonthlySalary && emp.grossMonthlySalary <= 0) {\n      errors.push('Gross salary must be positive');\n    }\n  }\n  \n  results.push({\n    json: {\n      ...emp,\n      validation: {\n        valid: errors.length === 0,\n        errors: errors\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.validation.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.country }}",
                    "rightValue": "ZA",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "South Africa"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.country }}",
                    "rightValue": "GB",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "United Kingdom"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.country }}",
                    "rightValue": "US",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "United States"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Route by Country",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "// South Africa PAYE + UIF + SDL + Medical Credits + Retirement\nconst emp = $input.first().json;\nconst gross = emp.grossMonthlySalary;\nconst age = emp.age || 30;\nconst retPct = emp.retirementFundPct || 0;\n\n// PAYE Brackets (2025/2026)\nconst brackets = [\n  { min: 0, max: 237100, rate: 0.18, base: 0 },\n  { min: 237100, max: 370500, rate: 0.26, base: 42678 },\n  { min: 370500, max: 512800, rate: 0.31, base: 77362 },\n  { min: 512800, max: 673000, rate: 0.36, base: 121475 },\n  { min: 673000, max: 857900, rate: 0.39, base: 179147 },\n  { min: 857900, max: 1817000, rate: 0.41, base: 251258 },\n  { min: 1817000, max: Infinity, rate: 0.45, base: 644489 },\n];\n\n// Retirement deduction\nconst retMonthly = gross * (retPct / 100);\nconst retAnnual = retMonthly * 12;\nconst annualGross = gross * 12;\nconst retDeductible = Math.min(retAnnual, annualGross * 0.275, 350000);\n\n// Taxable income\nconst taxable = annualGross - retDeductible;\nlet annualPAYE = 0;\nfor (const b of brackets) {\n  if (taxable <= b.max) { annualPAYE = b.base + (taxable - b.min) * b.rate; break; }\n}\n\n// Rebates\nconst rebate = age >= 75 ? 29824 : age >= 65 ? 26679 : 17235;\nannualPAYE -= rebate;\n\n// Medical credits\nlet medCredit = 0;\nif (emp.medicalAid) {\n  medCredit = 364 + (emp.medicalDependents >= 1 ? 364 : 0) + Math.max(0, (emp.medicalDependents || 0) - 1) * 246;\n  annualPAYE -= medCredit * 12;\n}\nannualPAYE = Math.max(0, annualPAYE);\n\nconst monthlyPAYE = Math.round(annualPAYE / 12 * 100) / 100;\nconst uif = Math.round(Math.min(gross, 17712) * 0.01 * 100) / 100;\nconst sdl = Math.round(gross * 0.01 * 100) / 100;\nconst retFund = Math.round(retMonthly * 100) / 100;\nconst totalDed = monthlyPAYE + uif + retFund;\n\nreturn [{ json: {\n  employee_id: emp.employee_id, full_name: emp.full_name,\n  country: 'ZA', currency: 'ZAR', payPeriod: new Date().toISOString().slice(0, 7),\n  grossSalary: gross,\n  deductions: { paye: monthlyPAYE, uif_employee: uif, retirement_fund: retFund, medical_aid_credit: medCredit },\n  totalEmployeeDeductions: Math.round(totalDed * 100) / 100,\n  netSalary: Math.round((gross - totalDed) * 100) / 100,\n  employerContributions: { uif_employer: uif, sdl: sdl },\n  totalCostToEmployer: Math.round((gross + uif + sdl) * 100) / 100\n}}];"
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Calculate ZA Tax",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 160]
    },
    {
      "parameters": {
        "jsCode": "// United Kingdom Income Tax + NI + Student Loan + Pension\nconst emp = $input.first().json;\nconst gross = emp.grossMonthlySalary;\nconst annual = gross * 12;\n\n// Personal allowance (tapers above 100k)\nlet pa = 12570;\nif (annual > 100000) pa = Math.max(0, 12570 - Math.floor((annual - 100000) / 2));\nconst taxable = Math.max(0, annual - pa);\n\n// Income tax\nlet tax = 0, rem = taxable;\ntax += Math.min(rem, 37700) * 0.20; rem = Math.max(0, rem - 37700);\ntax += Math.min(rem, 74870) * 0.40; rem = Math.max(0, rem - 74870);\nif (rem > 0) tax += rem * 0.45;\n\nconst monthlyTax = Math.round(tax / 12 * 100) / 100;\n\n// Employee NI\nlet ni = 0;\nif (annual > 12570) {\n  ni += Math.min(annual - 12570, 50270 - 12570) * 0.08;\n  if (annual > 50270) ni += (annual - 50270) * 0.02;\n}\nconst monthlyNI = Math.round(ni / 12 * 100) / 100;\n\n// Employer NI\nconst empNI = annual > 5000 ? Math.round((annual - 5000) * 0.15 / 12 * 100) / 100 : 0;\n\n// Student loan\nconst plans = { plan1: 24990, plan2: 27295, plan4: 31395, plan5: 25000, postgrad: 21000 };\nconst slRate = emp.studentLoanPlan === 'postgrad' ? 0.06 : 0.09;\nconst slThreshold = plans[emp.studentLoanPlan] || 0;\nconst monthlySL = emp.studentLoanPlan && annual > slThreshold\n  ? Math.round((annual - slThreshold) * slRate / 12 * 100) / 100 : 0;\n\n// Pension\nconst pensionRate = emp.pensionPct ? emp.pensionPct / 100 : 0.05;\nconst qualEarnings = Math.max(0, Math.min(annual, 50270) - 6240);\nconst monthlyPension = Math.round(qualEarnings * pensionRate / 12 * 100) / 100;\nconst monthlyErPension = Math.round(qualEarnings * 0.03 / 12 * 100) / 100;\n\nconst totalDed = monthlyTax + monthlyNI + monthlySL + monthlyPension;\n\nreturn [{ json: {\n  employee_id: emp.employee_id, full_name: emp.full_name,\n  country: 'GB', currency: 'GBP', payPeriod: new Date().toISOString().slice(0, 7),\n  grossSalary: gross,\n  deductions: { income_tax: monthlyTax, national_insurance: monthlyNI, student_loan: monthlySL, pension_employee: monthlyPension },\n  totalEmployeeDeductions: Math.round(totalDed * 100) / 100,\n  netSalary: Math.round((gross - totalDed) * 100) / 100,\n  employerContributions: { national_insurance: empNI, pension_employer: monthlyErPension },\n  totalCostToEmployer: Math.round((gross + empNI + monthlyErPension) * 100) / 100\n}}];"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Calculate GB Tax",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 380]
    },
    {
      "parameters": {
        "jsCode": "// United States Federal + State + FICA + 401(k)\nconst emp = $input.first().json;\nconst gross = emp.grossMonthlySalary;\nconst annual = gross * 12;\nconst filing = emp.filingStatus || 'single';\nconst state = emp.state || 'TX';\n\n// 401(k)\nconst k401Pct = emp.fourOhOnekPct || 0;\nlet k401Limit = 23500;\nconst age = emp.age || 30;\nif (age >= 60 && age <= 63) k401Limit += 11250;\nelse if (age >= 50) k401Limit += 7500;\nconst k401Annual = Math.min(annual * (k401Pct / 100), k401Limit);\nconst preTax = k401Annual;\n\n// Federal tax\nconst stdDed = filing === 'married_jointly' ? 30000 : 15000;\nconst fedTaxable = Math.max(0, annual - preTax - stdDed);\nconst brackets = filing === 'married_jointly'\n  ? [{m:0,x:23850,r:0.10,b:0},{m:23850,x:96950,r:0.12,b:2385},{m:96950,x:206700,r:0.22,b:11157},{m:206700,x:394600,r:0.24,b:35303},{m:394600,x:501050,r:0.32,b:80399},{m:501050,x:751600,r:0.35,b:114463},{m:751600,x:Infinity,r:0.37,b:202155.5}]\n  : [{m:0,x:11925,r:0.10,b:0},{m:11925,x:48475,r:0.12,b:1192.5},{m:48475,x:103350,r:0.22,b:5578.5},{m:103350,x:197300,r:0.24,b:17651.5},{m:197300,x:250525,r:0.32,b:40199.5},{m:250525,x:626350,r:0.35,b:57231.5},{m:626350,x:Infinity,r:0.37,b:188769.75}];\n\nlet fedTax = 0;\nfor (const b of brackets) {\n  if (fedTaxable <= b.x) {\n    fedTax = b.m === 0 ? fedTaxable * b.r : b.b + (fedTaxable - b.m) * b.r;\n    break;\n  }\n}\nconst monthlyFed = Math.round(fedTax / 12 * 100) / 100;\n\n// Social Security\nconst ssWages = Math.min(annual - preTax, 176100);\nconst monthlySS = Math.round(ssWages * 0.062 / 12 * 100) / 100;\nconst monthlyErSS = monthlySS;\n\n// Medicare\nlet medTax = (annual - preTax) * 0.0145;\nif (annual - preTax > 200000) medTax += (annual - preTax - 200000) * 0.009;\nconst monthlyMed = Math.round(medTax / 12 * 100) / 100;\nconst monthlyErMed = Math.round((annual - preTax) * 0.0145 / 12 * 100) / 100;\n\n// State tax (simplified)\nconst states = {\n  TX: { brackets: [], sd: 0 }, FL: { brackets: [], sd: 0 }, WA: { brackets: [], sd: 0 },\n  CA: { sd: 5540, brackets: [{m:0,x:10412,r:0.01},{m:10412,x:24684,r:0.02},{m:24684,x:38959,r:0.04},{m:38959,x:54081,r:0.06},{m:54081,x:68350,r:0.08},{m:68350,x:349137,r:0.093},{m:349137,x:418961,r:0.103},{m:418961,x:698271,r:0.113},{m:698271,x:Infinity,r:0.133}] },\n  NY: { sd: 8000, brackets: [{m:0,x:8500,r:0.04},{m:8500,x:11700,r:0.045},{m:11700,x:13900,r:0.0525},{m:13900,x:80650,r:0.0585},{m:80650,x:215400,r:0.0625},{m:215400,x:1077550,r:0.0685},{m:1077550,x:5000000,r:0.0965},{m:5000000,x:25000000,r:0.103},{m:25000000,x:Infinity,r:0.109}] }\n};\nconst sc = states[state] || states.TX;\nlet stateTax = 0;\nif (sc.brackets.length > 0) {\n  const stTaxable = Math.max(0, annual - preTax - sc.sd);\n  let prev = 0;\n  for (const b of sc.brackets) {\n    if (stTaxable <= b.x) { stateTax += (stTaxable - prev) * b.r; break; }\n    else { stateTax += (b.x - prev) * b.r; prev = b.x; }\n  }\n}\nconst monthlyState = Math.round(stateTax / 12 * 100) / 100;\nconst monthly401k = Math.round(k401Annual / 12 * 100) / 100;\n\nconst totalDed = monthlyFed + monthlySS + monthlyMed + monthlyState + monthly401k;\n\nreturn [{ json: {\n  employee_id: emp.employee_id, full_name: emp.full_name,\n  country: 'US', currency: 'USD', payPeriod: new Date().toISOString().slice(0, 7),\n  grossSalary: gross,\n  deductions: { federal_income_tax: monthlyFed, social_security: monthlySS, medicare: monthlyMed, state_income_tax: monthlyState, '401k': monthly401k },\n  totalEmployeeDeductions: Math.round(totalDed * 100) / 100,\n  netSalary: Math.round((gross - totalDed) * 100) / 100,\n  employerContributions: { social_security: monthlyErSS, medicare: monthlyErMed },\n  totalCostToEmployer: Math.round((gross + monthlyErSS + monthlyErMed) * 100) / 100\n}}];"
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Calculate US Tax",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 600]
    },
    {
      "parameters": { "mode": "append" },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Merge Payslips",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1400, 380]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "allIncomingItems"
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Return Payslips",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1620, 380]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Validation failed', details: $json.validation.errors }) }}"
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 560]
    }
  ],
  "connections": {
    "Webhook - Payroll Intake": { "main": [[{ "node": "Validate Fields", "type": "main", "index": 0 }]] },
    "Validate Fields": { "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]] },
    "Is Valid?": {
      "main": [
        [{ "node": "Route by Country", "type": "main", "index": 0 }],
        [{ "node": "Return Validation Error", "type": "main", "index": 0 }]
      ]
    },
    "Route by Country": {
      "main": [
        [{ "node": "Calculate ZA Tax", "type": "main", "index": 0 }],
        [{ "node": "Calculate GB Tax", "type": "main", "index": 0 }],
        [{ "node": "Calculate US Tax", "type": "main", "index": 0 }]
      ]
    },
    "Calculate ZA Tax": { "main": [[{ "node": "Merge Payslips", "type": "main", "index": 0 }]] },
    "Calculate GB Tax": { "main": [[{ "node": "Merge Payslips", "type": "main", "index": 0 }]] },
    "Calculate US Tax": { "main": [[{ "node": "Merge Payslips", "type": "main", "index": 0 }]] },
    "Merge Payslips": { "main": [[{ "node": "Return Payslips", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "payroll" },
    { "name": "tax" },
    { "name": "multi-country" }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}